/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET END*/

body {
    font-family: 'Sintony', sans-serif;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
}

.wrapper-logo {
    background-color: #a4d35a;
    width: 25%;
    text-align: right;
    padding-right: 50px;
    padding-top: 22px;
}

.wrapper-nav {
    width: 75%;
}

.bg-nav {
    background-color: #272828!important;
}

.main-header {
    display: flex;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-collapse {
    flex-grow: 0.7;
}

.navbar-expand-lg {
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    padding-right: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 50px;
}

.navbar {
    padding: 25px;
}

.navbar-light .navbar-toggler {
    border-color: #a4d35a;
    outline: none;
    color: #a4d35a;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(164, 211, 90, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
    fill: #a4d35a;
}

.carousel-top li, .carousel-center li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-top {
    justify-content: flex-start;
    margin-left: 15%;
    bottom: 50px;
}

.carousel-indicators li {
    margin-left: 10px;
}

.indicators-shoes {
    padding-bottom: 95px;
}

.main-container {
    width: 1100px;
    margin: 0 auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
}

.list-news {
    display: flex;
}

.list-news li {
    width: 400px;
    margin-right: 50px;
}

.title-news h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #ffff;
}

.title-news p {
    font-size: 15px;
    line-height: 25px;
    color: #abbcc3;
}

.wrapper-information {
    background-color:#16181b;
}

.wrapper-information .main-container {
    padding: 100px 20px 100px 40px ;
}

.circle-slider {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid ;
    border-radius: 50%;
    margin-top: 20px;
}

.carousel-center {
    position: relative;
    justify-content: flex-end;
    margin-right: 0;
    margin-left: 0;
}

.circle-assortment-shoes {
    display:inline-block;
    width:600px;
    height: 600px;
    border-radius: 50%;
    background-color: #a7d55d;
    text-align: center;
    position: relative;
}

.carousel-assortment {
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    bottom: 130px;
}



.shoes-sneaker {
    position: absolute;
    left: 35px;
    top: 84px;
    z-index: 1;
}

.wrapper-assortment {
    background-color: #353535;
}

.indicators-shoes li {
    width: 100px;
}

.slogan-of-site p {
    color: #7d7e7f;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
}

.slogan-of-site h2 {
    font-size: 22px;
    color: #fff;
    text-align: left;
}

.carousel-shoes {
    padding: 100px 0 200px 50px;
}


.carousel-control-prev {
    left: -25px;
}

.carousel-control-next {
    right: -2px;
}


.download-devices {
    background-color: #a4d35a;
}

.download-devices .main-container {
    max-height: 500px;
    overflow-y: hidden;
}

.wrapper-download-devices {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 40px;
    padding-top: 100px;
}

.info-download h2 {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 30px;
}

.info-download p {
    color: #ffffff;
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
}

.img-device {
    width: 450px;
    height: 550px;
}

.info-download {
    width: 400px;;
}

.btn-join {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #a4d35a;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.btn-join:focus {
    outline: none;
}

.footer-nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 100px 40px;
}

.web-design-nav {
    display: flex;
}

.designers-nav {
    display: flex;
}

.web-design-nav h3, .designers-nav h3 {
    color: #737c85;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.list-nav-footer a {
    font-size: 14px;
    color: #737c85;
    line-height:35px;
    cursor: pointer;
    text-decoration: none;
}

.main-footer .main-container{
    padding: 55px 0 100px;
}

.web-design-nav div:first-child {
    margin-right: 50px;
}

.designers-nav div:first-child {
    margin-right: 50px;
}

.img-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 7px solid #a4d35a;
    border-radius: 50%;
}

.law-info {
    text-align: center;
}

.law-info p {
    color: #b9bdc2;
    font-size: 12px;
    margin-top: 35px;

}

.indicators-shoes .active {
    background-color: #a4d35a;
}

        /*Media Queries*/

@media screen and (max-width: 576px) {

    .wrapper-logo {
        width: 35%;
        padding-left: 10px;
    }

    .carousel-top {
        margin-left: 3%;
        bottom: 15px;
    }

    .navbar {
        padding: 15px;
    }

    .wrapper-information .main-container {
        padding: 30px 20px 30px;
    }

    .list-news {
        display: block;
    }

    .list-news li {
        width: 200px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .list-news li:last-child {
        margin-bottom: 0;
    }

    .main-container {
        width: 320px;
    }

    .footer-nav {
        display: block;
    }

    .carousel-center {
        position: absolute;
        bottom: 0;
    }

    .carousel-shoes {
        padding: 30px 20px 50px;
    }

    .circle-assortment-shoes {
        width: 250px;
        height: 250px;
    }

    .slogan-of-site {
        margin-bottom: 50px;
    }

    .indicators-shoes {
        padding-bottom: 15px;
    }

    .carousel-control-next {
        right: -7px;
    }

    .carousel-control-next, .carousel-control-prev {
        bottom: -51px;
    }

    .carousel-control-prev {
        left: -7px;
    }

    .shoes-sneaker {
        left: 17px;
        top: 155px;
        width: 251px;
    }

    .download-devices .main-container {
        max-height: 870px;
    }

    .wrapper-download-devices {
        display: block;
        padding-top: 30px;
    }

    .info-download {
        width: 100%;
    }

    .btn-join {
        margin-bottom: 20px;
    }

    .img-device {
        width: 260px;
        height: 350px;
    }

    .main-footer .main-container {
        padding: 30px 0 40px;
    }

    .web-design-nav {
        margin-bottom: 30px;
    }

    .web-design-nav h3 {
        line-height: 20px;
    }
}


@media screen and (min-width: 577px) and (max-width: 991px) {
    .main-container {
        width: 550px;
    }

    .wrapper-logo {
        width: 30%;
    }

    .wrapper-logo {
        padding-top: 30px;
    }

    .carousel-top {
        margin-left: 9%;
        bottom: 25px;
    }

    .wrapper-information .main-container {
        padding: 40px 20px 40px;
    }

    .carousel-center {
        position: absolute;
        bottom: 0;
    }

    .carousel-shoes {
        padding: 40px 20px 100px;
    }

    .slogan-of-site {
        margin-bottom: 50px;
    }

    .indicators-shoes {
        padding-bottom: 35px;
    }

    .carousel-control-next {
        right: -40px;
    }

    .carousel-control-next, .carousel-control-prev {
        bottom: -51px;
    }

    .carousel-control-prev {
        left: -40px;
    }

    .circle-assortment-shoes {
        width:500px;
        height: 500px;
    }

    .shoes-sneaker {
        left: -4px;
        top: 170px;
        width: 515px;
    }

    .wrapper-download-devices {
        padding-top: 40px;
        display: block;
    }

    .info-download {
        width: 100%;
    }

    .btn-join {
        margin-bottom: 30px;
    }

    .download-devices .main-container {
        max-height: 765px;
    }

    .main-footer .main-container {
        padding: 40px 0 60px;
    }

    .footer-nav {
        margin: 0 20px 50px 40px;
    }

    .main-footer .main-container {
        padding: 30px 0 40px;
    }

    .web-design-nav, .designers-nav{
        display: block;
    }

    .web-design-nav h3 {
        line-height: 20px;
    }

    .web-design-nav div {
        margin-bottom: 30px;
    }

    .designers-nav div {
        margin-bottom: 30px;

    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .main-container{
        width: 950px;
    }

    .shoes-sneaker {
        width: 765px;
    }
}











